@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fonts/idroid.otf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #84e1ad;
}

body > header{
    background-image: linear-gradient(to top, #247e4b, #3dd17d);
   
}

main{
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}

header > h1{
    font-family: Arial, Helvetica,serif;
    font-size: 2.8em;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

header > h2{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    color:white;
    padding-bottom: 15px;
}

body > header > nav > ul{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 10px;  
}

.div_image{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

picture > img{
    max-width: 100%;
    height: auto;
}

.div_video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26,92,56,255);
    padding: 10px 10px 10px 10px;
}





.menus{
    color: white;
    padding-right: 15px;
    padding-left: 5px;
    
}

.menus:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

body > main{
    background-color: white;
    width: 80%;
    height: 90%;
    margin: auto;
}

aside#first{
    display: flex;
    flex-wrap: wrap;
    
    margin: 30px 30px 30px 30px;
    background-color: #ccf7de;
    border-radius: 0px 0px 15px 15px ;

    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}

h2#aside_title{
    width: 100%;
    font-family: Arial, Helvetica, serif;
    background-color: #37b96f;
    color: white;
    border-radius: 3px 3px 0px 0px; 
    padding-top: 10px;
}

main > aside > ul > li{
    text-decoration: underline;
    
}

ul{
    padding-bottom: 15px;
}

ul#first_ul, ul#second_ul{
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  padding-left: 30px;
  padding-bottom: 10px;
    
}


footer{
    padding-top: 15px;
}

footer > p{
    color: white;
    text-align: center;
    background-color: #247e4b;
    padding-top: 10px;
}

footer > p > a{
    color:white;
}

p{
    font-size: 1.2em;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 18px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 5px;
   
}

h1{
    color: #247e4b;
    font-family: 'idroid';
    padding-left: 10px;
    font-size: 2em;
}

.subtitle{
    background-image: linear-gradient(to right, rgb(78, 236, 147, 0.2), rgb(82, 255, 157, 0.2));
    color:#247e4b;
    font-family: 'idroid';
    padding-left: 10px;
}

#principal_title{
    padding-top: 10px;
   
}

a{
    color: #247e4b;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
}

footer > p > a::after{
    content: "🔗";
}

span{
    color: #247e4b;
    font-weight: bolder;
}


